* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  background-color: white;
  height: 100px;
  flex-direction: row;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  align-items: center;
}

.logo {
  margin-left: 30px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  margin-left: 400px;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 10px;
}

.nav-btn {
  border: none;
  background-color: white;
  font-family: sans-serif;
  font-weight: 400;
}

.login-btn {
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: aqua;
  color: aliceblue;
  font-family: sans-serif;
}

.intro {
  background-color: #edf5ff;
  background-image: url("waves-shape.svg");
  width: 100%;
  height: 600px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-content {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.intro-text {
  display: flex;
  flex-direction: column;
}

.intro-actions {
  display: flex;
  align-items: center;
}

.highlight {
  color: #4ac4f3;
}

.start-btn {
  width: 180px;
  border-radius: 20px;
  border: 2px solid #4ac4f3;
  height: 47px;
  background-color: #edf5ff;
  color: #4ac4f3;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
}

.play-icon {
  height: 60px;
  margin-left: 20px;
}

.intro-image img {
  height: 500px;
  width: 500px;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
}

.about-content {
  display: flex;
  flex-direction: row;
  margin-right: 50px;
}

.story {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.read-more-btn {
  height: 50px;
  width: 190px;
  border-radius: 30px;
  border: none;
  background-color: #4ac4f3;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
}

.reasons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-top: 35px;
}

.reason-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  height: 20px;
}

.services {
  display: flex;
  justify-content: space-between;
  width: 35%;
  flex-wrap: wrap;
  margin-top: 90px;
}

.service-item {
  width: 45%;
  background-color: #4ac4f3;
  margin-bottom: 25px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 1px 1px 5px black;
}

.service-item.white-bg {
  background-color: white;
}

.service-icon {
  width: 40%;
  height: 30%;
}

.service-title {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.service-description {
  font-family: "Open Sans", sans-serif;
}

.trust {
  background-color: #edf5ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 80%;
}

.trust-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trust-logos img {
  margin: 0 10px;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 125px;
  width: 100%;
}

.footer-left {
  display: flex;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.footer-icon {
  width: 15px;
  margin-right: 5px;
}

.footer-right {
  color: #999;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
